.dts-no-select {
  user-select: none; }

.dts-select-box {
  background: rgba(125, 218, 252, 0.3);
  border: 2px solid currentColor;
  contain: layout;
  transform: translateZ(0);
  box-sizing: border-box;
  color: #7ddafc;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1; }
  .dts-select-box.dts-removing {
    background: rgba(125, 218, 252, 0.3);
    border: 2px solid #7ddafc; }

.dts-select-container:not(.dts-custom) .dts-select-item.selected {
  border: 1px solid #d2d2d2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); }
